@page
@model IndexModel
@{
    ViewData["Title"] = T["Home page", TextContext.From("Pages")];
}

<div class="text-center">
    <h1 class="display-4">@T["Welcome"]</h1>
    <p>@T["Learn about <a href=\"{0}\">building Web apps with ASP.NET Core</a>.", "https://docs.microsoft.com/aspnet/core"]</p>
    <p>
        <i class="fa fa-calendar" aria-hidden="true"></i> @Model.CurrentDate
        <br />
        <i class="fa fa-clock-o" aria-hidden="true"></i> @Model.CurrentTime
        <br />
        @Model.DaysUntilNextWeekend
    </p>
</div>
